{
  "presets": [
    ["env", { "modules": false }],
    ["es2015", { "modules": false }],
    "stage-2",
    "stage-3"
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2", "stage-3", "es2015"],
      "plugins": [ "istanbul" ]
    }
  }
}
