@import './mixin.scss';
.mainBox{
    width: 100%;
    height:100%;
    background:#00BCD4;
    .loginBox{
        @include center;
        border-radius: 15px;
        padding: 25px 60px;
        background: #80DEEA;
        .btnBox {
            margin-top:20px;
            text-align:center;
        }
    }
    
}